.home {
  display: flex;

  .home-container {
    flex: 4;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
      background: #f0f0f0;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
      margin: 10px;
      flex: 1 1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &:nth-child(1) {
        background-color: blue;
      }
      &:nth-child(2) {
        background-color: green;
      }
      &:nth-child(3) {
        background-color: gold;
      }
      &:nth-child(4) {
        background-color: red;
      }

      &:hover {
        background-color: #7451f8;
      }

      h3 {
        margin-bottom: 14px;
      }

      p {
        font-size: 10px;
        margin: 5px 0;
      }
    }
  }

  .charts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .upcoming-invoices {
    margin-top: 20px;
  }
}
